
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}

@theme{
    
    --color-primary-dull: #12A504;
    --color-primary: #12BD01;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}